.icon- {
  display: inline-block;
  font-size: 32px !important;
  line-height: 1;
  vertical-align: middle;
  flex-shrink: 0;
}

.ico {
  display: inline-block;
  font-size: 32px !important;
  line-height: 1;
  vertical-align: middle;
  flex-shrink: 0;
}